<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<main>
			<a href="{{ path('app_login') }}">Se connecter</a>
			{% block body %}{% endblock %}
		</main>
		{% block javascripts %}{% endblock %}
	</body>
</html>
